<div class="col-sm-6 col-md-4">
  <div class="thumbnail panel">
    <img src="http://s14.postimg.org/y5jgrg59t/Screen_Shot_2014_05_05_at_12_12_25_AM.png" alt="..." class = "btn" data-toggle="modal" data-target="#compModelModal">
    <div class="caption">
      <h3>Competitive Model</h3>
      <p>Ideated, Built Data Model</p>
      <!-- Button trigger modal -->

      <button class="btn btn-primary btn" data-toggle="modal" data-target="#compModelModal">See More</button>
      <!-- Modal -->

      <div class="modal fade" id="compModelModal" tabindex="-1" role="dialog" aria-labelledby="compModelModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="wallModalLabel">Competitive Modeling Tool</h4>
            </div>
            <div class="modal-body">

              <!-- CAROUSEL -->
              <div id="compModel-carousel" class="carousel slide" data-ride="carousel" style = "min-width: 250px;">

                <!-- Menu -->
                <ol class="carousel-indicators" style = "bottom: 10px">
                  <li data-target="#compModel-carousel" data-slide-to="0"></li>
                  <li data-target="#compModel-carousel" data-slide-to="1"></li>
                  <li data-target="#compModel-carousel" data-slide-to="2"></li>
                </ol>

                <!-- Items -->

                   <div class="carousel-inner">

                     <div class="item active">
                       <img src="http://s14.postimg.org/gqz8j684x/Screen_Shot_2014_05_04_at_11_48_42_PM.png" alt="Slide 1"  />

                     </div>

                     <div class="item">
                       <img src="http://s14.postimg.org/beae51k8h/Screen_Shot_2014_05_04_at_11_48_35_PM.png" alt="Slide 2" />

                     </div>

                     <div class="item">
                       <img src="http://s14.postimg.org/y5jgrg59t/Screen_Shot_2014_05_05_at_12_12_25_AM.png" alt="Slide 3" />

                     </div>

                   </div> 

                   <!-- Click Through Icons -->

                   <a href="#compModel-carousel" class="left carousel-control" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a href="#compModel-carousel" class="right carousel-control" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>

            </div>
            <!-- End Carousel -->
          </div>

          <!-- End Modal Body -->
          <div class="modal-footer">

<div class = "pull-left">Source code not available </div>

            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- End Modal Footer -->

  </div>
</div>
</div>
