<div id="recommendation" class = "center-block" style="max-width: 800px;">
	<h4 style="margin-top:0px">Takes Initiative</h4>
	<div class="panel">
		<div class="panel-body">
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" src="https://media.licdn.com/mpr/mpr/shrink_60_60/p/3/000/1f6/3ba/1713d64.jpg" alt="Sean">
				</a>
				<div class="media-body">
					<h5 class="media-heading">Andrew Fazekas<small> Head of Product at Disney Interactive</small></h5>
					Patrick has been an extremely valuable addition to the Commander team. In a matter of a few months, he has established himself as a data-driven, analytical, and creative product manager on a demanding project. He takes new responsibilities on head-on, presents intelligent analysis, thinks creatively, and always has a positive attitude.

				</div>
			</div>

		</div>
	</div>

	<h4 style="margin-top:0px">Analytics and Maximizing Efficiency</h4>
	<div class="panel">
		<div class="panel-body">
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" src="https://media.licdn.com/mpr/mpr/shrink_60_60/p/4/000/185/2e8/36f27d2.jpg" alt="Sean">
				</a>
				<div class="media-body">
					<h5 class="media-heading">Sean Dornan-Fish<small> Creative Director at Disney Interactive</small></h5>
					Patrick is on the ball, passionate, and equally adept at tactical and strategic thinking. I'm always impressed by his ability to gather information and come to excellent data-informed decisions. Another place where Patrick excels is time management. He often improves process which allows him more time to take on additional tasks. Patrick is a difference maker on ever task, feature, and product he works on and I would happily work with him anytime.

				</div>
			</div>

		</div>
	</div>

	<h4>Creative and Entrepreneurial</h4>
	<div class="panel">
		<div class="panel-body">
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" src="https://media.licdn.com/mpr/mpr/shrink_60_60/p/1/000/059/1d9/3330f89.jpg" alt="Jack">
				</a>
				<div class="media-body">
					<h5 class="media-heading">Jack Luh<small> Sr. Engineering Manager at Disney Interactive</small></h5>
					Patrick is a very bright PM. He has great ideas and always thinks outside the box. He is creative and solves problems with an entrepreneurial mindset. Patrick will add value to any team and will find a way to help out. He is certain a person I would want on my team.
				</div>
			</div>
			
		</div>
	</div>

	<h4 style="margin-top:0px">Executer and Innovater</h4>
	<div class="panel">
		<div class="panel-body">
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" src="https://media.licdn.com/mpr/mpr/shrink_60_60/p/6/000/2a2/216/3629eb4.jpg" alt="Laura">
				</a>
				<div class="media-body">
					<h5 class="media-heading">Laura Gluhanich<small> Co-Founder at Signal Camp</small></h5>
					Having worked with Patrick I can attest to the quality, commitment, enthusiasm and smart ideas he'd bring to any team. Not only does Patrick execute at a high-level, he consistently finds the time to innovate and creatively solve problems to make the team more efficient. I look forward to seeing great things from Patrick, and would love to work with him in the future.

				</div>
			</div>

		</div>
	</div>

	<h4 style="margin-top:0px">Problem Solver</h4>
	<div class="panel">
		<div class="panel-body">
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" src="https://media.licdn.com/mpr/mpr/shrink_60_60/p/2/000/078/2ac/0dbdedb.jpg" alt="Ryan">
				</a>
				<div class="media-body">
					<h5 class="media-heading">Ryan Freitas<small> Co-Founder at about.me</small></h5>
					Patrick is resourceful and driven. He takes a creative approach to problem solving, and does a great job of producing solid work with a minimum of management.

				</div>
			</div>

		</div>
	</div>



	<h4>Motivated and Driven</h4>
	<div class="panel">
		<div class="panel-body">
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" src="https://media.licdn.com/mpr/mpr/shrink_60_60/p/1/000/10c/289/0fd2544.jpg" alt="Rachel">
				</a>
				<div class="media-body">
					<h5 class="media-heading">Rachel Donné<small> UI/UX Designer at Disney Interactive</small></h5>
					Patrick is a charismatic and motivated individual. He's extremely driven to soak up knowledge and experiences. In the time that we've worked together, I've watched his skill set expand rapidly. He's always one to be optimistic, and he makes friends quickly. I know any team he becomes apart of will quickly see him become an intricate, and invaluable contributor.
				</div>
			</div>
			
		</div>
	</div>

	<h4>Resourceful and Transparent</h4>
	<div class="panel">
		<div class="panel-body">
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" src="https://media.licdn.com/mpr/mpr/shrink_60_60/p/4/000/167/2e1/0f8ba5a.jpg" alt="Jamil">
				</a>
				<div class="media-body">
					<h5 class="media-heading">Jamil Hale<small> Sr. QA Analyst at Disney Interactive</small></h5>
					Patrick is one of the most intelligent individuals I have ever worked with. Anyone that can come onto a project and by the end be responsible for what used to be the work of 3 engineers deserves all accolades available to him. Without him, the product would have been lost and I greatly appreciated how informative he was about the health of our product and how he always made the effort to create learning opportunities within the team.
				</div>
			</div>
			
		</div>
	</div>



</div>