<div id="recommendation" class = "container" style="width: 100%;">
		<div class="panel">
		<div class="panel-body">
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" src="https://media.licdn.com/mpr/mpr/shrink_60_60/p/4/000/185/2e8/36f27d2.jpg" alt="Sean">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Sean Dornan-Fish<small> Creative Director at Disney Interactive</small></h4>
					Patrick is on the ball, passionate, and equally adept at tactical and strategic thinking. I'm always impressed by his ability to gather information and come to excellent data-informed decisions. Another place where Patrick excels is time management. He often improves process which allows him more time to take on additional tasks. Patrick is a difference maker on ever task, feature, and product he works on and I would happily work with him anytime.
				</div>
			</div>

		</div>
	</div>

	<div class="panel">
		<div class="panel-body">
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" src="https://media.licdn.com/mpr/mpr/shrink_60_60/p/1/000/059/1d9/3330f89.jpg" alt="Jack">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Jack Luh<small> Sr. Engineering Manager at Disney Interactive</small></h4>
					Patrick is a very bright PM. He has great ideas and always thinks outside the box. He is creative and solves problems with an entrepreneurial mindset. Patrick will add value to any team and will find a way to help out. He is certain a person I would want on my team.
				</div>
			</div>
			
		</div>
	</div>



	<div class="panel">
		<div class="panel-body">
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" src="https://media.licdn.com/mpr/mpr/shrink_60_60/p/1/000/10c/289/0fd2544.jpg" alt="Rachel">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Rachel Donné<small> UI/UX Designer at Disney Interactive</small></h4>
					Patrick is a charismatic and motivated individual. He's extremely driven to soak up knowledge and experiences. In the time that we've worked together, I've watched his skill set expand rapidly. He's always one to be optimistic, and he makes friends quickly. I know any team he becomes apart of will quickly see him become an intricate, and invaluable contributor.
				</div>
			</div>
			
		</div>
	</div>


	<div class="panel">
		<div class="panel-body">
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" src="https://media.licdn.com/mpr/mpr/shrink_60_60/p/4/000/167/2e1/0f8ba5a.jpg" alt="Jamil">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Jamil Hale<small> Sr. QA Analyst at Disney Interactive</small></h4>
					Patrick is one of the most intelligent individuals I have ever worked with. Anyone that can come onto a project and by the end be responsible for what used to be the work of 3 engineers deserves all accolades available to him. Without him, the product would have been lost and I greatly appreciated how informative he was about the health of our product and how he always made the effort to create learning opportunities within the team.
				</div>
			</div>
			
		</div>
	</div>



</div>