<div id="resumusing" class="panel panel-default" style = "margin: 0 auto; max-width: 900px;">
	<div class="panel-body">


		<div class="onesheet">
			<!-- Header -->
			<article class="row row-border-bottom">
				<header class="col-md-12">
					<h2 id="resumeHeader"></h2>
					<h3 id="resumeHeader"><small>Product Manager</small></h3>
				</header>
			</article>
			<!-- Welcome Text -->
			<article class="row row-border-bottom">
				<header class="col-md-2">
					<h3 id="resumeHeader">Intro</h3>
				</header>
				<div class="col-md-10">
					<strong>Experienced multifaceted Product Manager</strong> with a passion for learning and solving challenging problems. Designs simple and intuitive user interfaces that enhances user satisfaction. Organized, motivating, and trustworthy leader with exceptional analytical, communication, and presentation skills. Experience with developing social products, and understands the technical architecture of complex and highly scalable web products.<br>
				</div>
			</article>

			<!-- Skills -->
			<article class="row row-border-bottom">
				<header class="col-md-2">
					<h3 id="resumeHeader">Skills</h3>
				</header>
				<div class="col-md-10">

						<strong>
						Product Management | Prioritization | Product Design | Public Speaking | Data Analysis | Tableau Reports  | Excel | SQL | Web-Development | Ruby on Rails | UI/UX Design | OmniGraffle | Adobe Creative Suite | Cross-Functional Teamwork | 
						</strong>

				<!-- <div class="col-md-9">
					<div class="row skills">
						<ul class="col-md-6">
						<strong>
							<li>Product Management</li>
							<li>Prioritization</li>
							<li>Product Design</li>
							<li>Public Speaking</li>
							<li>Data Analysis</li>
						</strong>
						</ul> -->
<!-- 						



<ul class="col-md-6">
							<li><h4>Domain Knowledge</h4></li>
							<li><strong>Working with IP</strong><small> (Lucas/Marvel/Disney)</small><li>
								<li><strong>FTP Games</strong><small> (Disney Social/Mobile Games)</small></li>
								<li><strong>Software Patents</strong><small> (Hold Two Patents)</small></li>
								<li><strong>Corporate Structure</strong><small> (Reorganized Disney Social Mobile)</small></li>
							</ul> -->
					</div>
				</article>

				<!-- Work -->
				<article class="row row-border-bottom">
					<header class="col-md-2">
						<h3 id="resumeHeader">Work</h3>
					</header>
					<div class="col-md-10">
						<h4>Product Manager</h4>
						<h5>Dec 2013-Present</h5>
						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua.</p>
						<h4>Second Job</h4>
						<h5>2008-2013</h5>
						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua.</p>
					</div>
				</article>

				<!-- Education -->
				<article class="row row-border-bottom">
					<header class="col-md-2">
						<h3 id="resumeHeader">Education</h3>
					</header>
					<div class="col-md-10">
						<h4>University of Oregon</h4> 
						Bachelor of Science Communication Studies Major, Digital Arts Minor
					</div>
				</article>


				<!-- Footer -->
				<footer>
					<strong><a href="https://docs.google.com/document/export?format=pdf&id=1sDnPUHh7HWwjo_27XuEYiOKEnF4eWVrAwIYwFzh04lE">PDF Resume Download</a></strong> &copy; 2014 Patrick Millegan 

				</footer>
			</div>

		</div>
	</div>