<div id="resumusing" class="panel panel-default" style = "margin: 0 auto; max-width: 800px;">


		<div class="onesheet">
			<!-- Welcome Text -->
			<article class="row row-border-bottom">
					<strong>Experienced multifaceted Product Manager</strong> with a passion for learning and a penchant for solving challenging problems. Designs simple and intuitive user interfaces that enhances user satisfaction. Organized, motivating, and trustworthy leader with exceptional analytical, communication, and presentation skills. Experience with developing social products, and understands the technical architecture of complex and highly scalable web products.<br>
			</article>

			<!-- Skills -->
			<article class="row row-border-bottom">
						<h4 id="resumeHeader">TOOLBOX</h4>
						Setting/Measuring KPIs | SQL | Tableau | Excel | Modeling/Forecasting | Feature Design  | UI/UX Design | Spec-Writing | Adobe Creative Suite | Public Speaking | Roadmap Prioritization | Scrum/Agile Dev | Ruby on Rails |
				</article>

				<!-- Work -->
				<article class="row row-border-bottom">
						<h4 id="resumeHeader">EXPERIENCE</h4>
						<h4 style="margin:0;">The Walt Disney Company</h4>
						<h5>Sr. Product Manager</h5>
						<ul>
								<li>● Built and PM’d Disney’s first vertically developed Star Wars Mobile Title after acquiring Lucasfilm.</li>
								<li>● Built and PM’d Disney’s first internal partnership with Maker Studios post-acquisition across multiple Disney Interactive Products.</li>
								<li>● Built internal tools to deliver competitive analysis, predict competitor KPIs, and automate task management.</li>
								<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o Adopted by multiple teams, including executive leadership and all became company best practice.</li> 
								<li>● Executed all aspects of PM cycle including but not limited to.. Forecasting opportunities, creating UI/UX mock ups, writing specs, building features with cross-discipline teams, implementing BI logging, designing analysis, pulling data, reporting metrics, and driving recommendations for several Products within Disney Interactive.</li>
								<li>● Taught/mentored Jr. PMs how to pull and report data that lead to action.</li>
								<li>● Worked with Executive team to establish most efficient team structure after the company re-organization.</li>
								<li>● Holds four patents all related to the mobile gaming space.</li>
						</ul>
						<h4 style="margin-top:10px;">about.me</h4>
						<h5>Product Intern</h5>
						<ul>	
								<li>● Winner of about.me internship contest to create personal page with most views.</li>
								<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o Awarded internship as result.</li>
								<li>● Concepted and led team to execute about.me 2012 Olympic Campaign.</li>
								<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o Personally reached out to Olympians on about.me and featured their profiles to all users.</li>
								<li>● Designed marketing assets that were displayed on AOL mail homepage.</li>
								<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o Seen by over ten million users each day.</li>
								<li>● Analyzed key metrics, ideated features, conducted user testing, analyzed survey results, and presented findings to the leadership. </li>	
						</ul>

						<h4 style="margin-top:10px;">Wallshops</h4>
						<h5>Co-Founder</h5>
						<ul>	
								<li>● Co-founded E-Commerce website that allows users to ‘Experience the mall online’.</li>
								<li>● Ideated and designed core user experience and user interface for the product. </li>
								<li>● Analyzed NUF and KPIs to improve retention. </li>

								<li>● Analyzed key metrics, ideated features, conducted user testing, analyzed survey results, and presented findings to the leadership. </li>	
						</ul>
				</article>

				<!-- Education -->
				<article id="row-none" class="row row-border-bottom">
						<h4 id="resumeHeader">EDUCATION</h4>
						<h4 style="margin:0;">University of Oregon</h4> 
						Bachelor of Science Communication Studies Major, Digital Arts Minor
				</article>


				<!-- Footer -->
<!-- 				<footer>
					<a href="https://docs.google.com/document/export?format=pdf&id=1sDnPUHh7HWwjo_27XuEYiOKEnF4eWVrAwIYwFzh04lE">PDF Resume Download</a>  &copy; 2014 Patrick Millegan 

				</footer> -->
			</div>

<div class="panel-body">
			<a href="https://docs.google.com/document/export?format=pdf&id=1sDnPUHh7HWwjo_27XuEYiOKEnF4eWVrAwIYwFzh04lE" class="btn btn-primary center-block" style="max-width:200px;">Download Resumé</a>

		</div>
	</div>