<div id="resumusing" class="panel panel-default" style = "margin: 0 auto; max-width: 900px;">
<div class="panel-body">


<div class="onesheet">
			<!-- Header -->
					<article class="row row-border-bottom">
				<header class="col-md-5">
					<h2 id="resumeHeader">Patrick's Resume</h2>
				</header>
			</article>
			<!-- Welcome Text -->
			<article class="row row-border-bottom">
				<header class="col-md-3">
					<h3 id="resumeHeader">Hello!</h3>
				</header>
				<div class="col-md-9">
					I solve challenging problems for companies, and I never stop learning new skills to help me do so.<br>
				</div>
			</article>

			<!-- Skills -->
			<article class="row row-border-bottom">
				<header class="col-md-3">
					<h3 id="resumeHeader">Skills</h3>
				</header>
				<div class="col-md-9">
					<div class="row skills">
						<ul class="col-md-6">
							<li><h4>Product Management</h4></li>
							<li><strong>UI/UX Design</strong><small> (Flow Charts/Wire frames)</small></li>
							<li><strong>Analytics</strong><small> (SQL,Excel)</small></li>
							<li><strong>Public Speaking</strong><small> (Led Team Meetings)</small></li>
							<li><strong>Programming</strong><small> (Ruby on Rails)</small></li>
						</ul>
						<ul class="col-md-6">
							<li><h4>Domain Knowledge</h4></li>
							<li><strong>Working with IP</strong><small> (Lucas/Marvel/Disney)</small><li>
							<li><strong>FTP Games</strong><small> (Disney Social/Mobile Games)</small></li>
							<li><strong>Software Patents</strong><small> (Hold Two Patents)</small></li>
							<li><strong>Corporate Structure</strong><small> (Reorganized Disney Social Mobile)</small></li>
						</ul>
					</div>
				</div>
			</article>

			<!-- Education -->
			<article class="row row-border-bottom">
				<header class="col-md-3">
					<h3 id="resumeHeader">Education</h3>
				</header>
				<div class="col-md-6">
					<h4>University of Oregon</h4> 
					B.S. Communication Studies, Digital Arts
					<h4>University of San Diego</h4>
					<h5>Aug 2008- May 2009</h5>
					<p>Navy ROTC, Division I Basketball</p>
				</div>
			</article>

			<!-- Work -->
			<article class="row row-border-bottom">
				<header class="col-md-3">
					<h3 id="resumeHeader">Work Experience</h3>
				</header>
				<div class="col-md-9">
					<h4>Product Manager</h4>
					<h5>Dec 2013-Present</h5>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua.</p>
					<h4>Second Job</h4>
					<h5>2008-2013</h5>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua.</p>
				</div>
			</article>

			<!-- Interests -->
			<article class="row row-border-bottom">
				<header class="col-md-3">
					<h3 id="resumeHeader">Interests</h3>
				</header>
				<div class="col-md-9">
					<h4>Traveling</h4>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua</p>
					<h4>Reading</h4>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua</p>
					<h4>Books</h4>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua</p>
				</div>
			</article>

			<!-- Footer -->
			<footer>
				&copy; 2014 Patrick Millegan 
			
			</footer>
</div>

</div>
</div>