

<!-- Nav tabs -->

<div id="navigator">
<ul id="borderbegone"class="btn-group btn-group-lg btn-group-justified" data-toggle="buttons" style="margin: 0 auto; max-width:400px">
  <a href="#home" class="btn btn-default active" type="radio" data-toggle="tab">Resumé</a>

  <a href="#messages"  class="btn btn-default" type="radio"  data-toggle="tab">Reviews</a>

  <a href="#profile" class="btn btn-default" type="radio"  data-toggle="tab">Portfolio</a>

</ul>
</div>

<!-- Tab panes -->
<div class="tab-content">
	<div class="tab-pane active" id="home">
		<%= render 'resume_partial' %>
	</div>

	<div class="tab-pane" id="messages">
		<%= render 'recommendation' %>
	</div>

	<div class="tab-pane" id="profile">
		<%= render 'portfolio' %>
	</div>

</div>
