<h1>Portfolio</h1>
<p>What has Patrick Done?</p>

<h3>Internal Competitive Analytics Tool</h3>

<ul class="list-group" style= "text-align: center;">
    <li class="list-group-item">Created initial Competitive Report in Excel to keep Executives and Team Members informed about competitors.</li>
    <li class="list-group-item">Ideated and mocked up a scalable and user-friendly tool for Product Managers/Executives to easily make Competitive Reports.</li>
    <li class="list-group-item">Led team of two and went from ideation to finished product, to on-boarding several studios in 1 weeks time.</li>
  </ul>
<div id="carousel" class="carousel slide" data-ride="carousel" style = "min-width: 300px;">
    <!-- Menu -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>

    <!-- Items -->
    <div class="panel panel-default">
  			<div class="panel-body">

    <div class="carousel-inner">
        
        <div class="item active">
            <img src="http://s28.postimg.org/n4ctob8p9/1tool.png" alt="Slide 1"  />
           
        </div>

        <div class="item">
            <img src="http://s28.postimg.org/fltofohcd/2mockup.png" alt="Slide 2" />
            
        </div>

         <div class="item">
            <img src="http://s28.postimg.org/exktwqiml/3tool.png" alt="Slide 3" />
           
        </div>
    </div> 

    <a href="#carousel" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#carousel" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

 			</div>
	</div>

