<section class="container">

			<!-- Header -->
			<header class="row-fluid">
				<div class="title span7">
					<img src="assets/img/profile.jpg" title="That`s me!" alt="My Profile"/>
					<h1><%= @user["name"] %></h1>
					<h2>Product Manager</h2>
				</div>
				<div class="social offset1 span4">
					<ul>
						<li><i class="icon-home"></i> Palo Alto, CA</li>
						<li><i class="icon-envelope-alt"></i> PatrickMillegan@gmail.com</li>
						<li><i class="icon-phone"></i>541-510-8261</li>
						<li><a href="https://twitter.com/pmillegan" ><i class="icon-twitter" ></i></a>
						<a href="http://fb.com/pmillegan" ><i class="icon-facebook" ></i></a>
						<a href="http://google.com/+PatrickMillegan" ><i class="icon-google-plus" ></i></a>
						<a href="https://github.com/pmillegan" ><i class="icon-github" ></i></a></li>
					</ul>
				</div>	
			</header>
	</section>