<section class="container">

			<!-- Header -->
			<header class="row-fluid">
				<div class="title span7">
					<img src="assets/img/profile.jpg" title="That`s me!" alt="My Profile"/>
					<h1><%= @user["name"] %></h1>
					<h2>Product Manager</h2>
				</div>
				<div class="social offset1 span4">
					<ul>
						<li><i class="icon-home"></i> Palo Alto, CA</li>
						<li><i class="icon-envelope-alt"></i> PatrickMillegan@gmail.com</li>
						<li><i class="icon-phone"></i>541-510-8261</li>
						<li><a href="https://twitter.com/pmillegan" ><i class="icon-twitter" ></i></a>
						<a href="http://fb.com/pmillegan" ><i class="icon-facebook" ></i></a>
						<a href="http://google.com/+PatrickMillegan" ><i class="icon-google-plus" ></i></a>
						<a href="https://github.com/pmillegan" ><i class="icon-github" ></i></a></li>
					</ul>
				</div>	
			</header>


			<!-- Welcome Text -->
			<article class="row-fluid">
				<header class="span3">
					<h3>Hello!</h3>
				</header>
				<div class="span9 ">
					<p class="welcome">I solve challenging problems for companies, and I never stop learning new skills to help me do so.<br>
				</div>
			</article>

			<!-- Skills -->
			<article class="row-fluid">
				<header class="span3">
					<h3>Skills</h3>
				</header>
				<div class="span9">
					<div class="row-fluid skills">
						<ul class="span6">
							<li><h4>Programming</h4></li>
							<li><strong>css</strong> - 3 years experience</li>
							<li><strong>html</strong> - Lorem ipsum dolor sit amet</li>
							<li><strong>php</strong> - Lorem ipsum dolor sit amet</li>
							<li><strong>javascript</strong> - Lorem ipsum dolor sit amet</li>
						</ul>
						<ul class="span6">
							<li><h4>Languages</h4></li>
							<li><strong>English</strong> - Fluent </li>
							<li><strong>Russian</strong> - Fluent in writing</li>
							<li><strong>Spanish</strong> - Lorem ipsum dolor sit amet</li>
							<li><strong>Esperanto</strong> - Lorem ipsum dolor sit amet</li>
						</ul>
					</div>
				</div>
			</article>

			<!-- Education -->
			<article class="row-fluid">
				<header class="span3">
					<h3>Education</h3>
				</header>
				<div class="span9">
					<h4>High School</h4>
					<h5>1943-2008</h5>
						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua.</p>
					<h4>University</h4>
					<h5>2008-2008</h5>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua.</p>
					<h4>Second University</h4>
					<h5>2008-2010</h5>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua.</p>
				</div>
			</article>

			<!-- Work -->
			<article class="row-fluid">
				<header class="span3">
					<h3>Work Experience</h3>
				</header>
				<div class="span9">
					<h4>My First Job </h4>
					<h5>1960-2008</h5>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua.</p>
					<h4>Second Job</h4>
					<h5>2008-2013</h5>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua.</p>
				</div>
			</article>

			<!-- Interests -->
			<article class="row-fluid">
				<header class="span3">
					<h3>Interests</h3>
				</header>
				<div class="span9">
					<h4>Traveling</h4>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua</p>
					<h4>Reading</h4>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua</p>
					<h4>Books</h4>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua</p>
				</div>
			</article>

			<!-- Footer -->
			<footer>
				&copy; 2013 John Smith 
				<a href="#">Download as PDF</a> | <a href="#" onclick="javascript:window.print();">Print</a> | <a href="#top">To top <i class="icon-arrow-up"></i></a>
			
			</footer>
	</section>