<div>
  <% flash.each do |key, value| %>
    <div class = "alert alert-success alert-dismissable">
      <button type="button" class="close pull-left" data-dismiss="alert" aria-hidden="true">&times;</button>
        <div style = "padding-left: 60px;">
        <%= value %>
        </div>
    </div>
  <% end %>
</div>
