// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background-image: url(http://dresssed.com/assets/background-761d998c4d83ce24630e1908fa9f6f95.png);
}
.fa{
	font-size: large;
	margin-right: 6px;
}

h4{
	margin-top: 0px;

}

ul {
	padding-left: 0px;

}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

#navigator {
	text-align:center;
	margin-bottom:10px;
}
#resumeHeader {
	margin: 0;
	color:#76717E;
}

.listlist {
	list-style-type:circle;
}

#row-none {
	border-bottom: 0;

}

.panel {
	border-radius: 0px;
}

.btn {
	border-radius: 0px;
}
.btn-group-lg > .btn {
	border-radius: 0px;
}
.modal-content {
	border-radius: 0px;
}
